:root {
    --orange-yellow: #f3b700ff;
    --orange-web: #faa300ff;
    --fulvous: #e57c04ff;
    --safety-orange-blaze-orange: #ff6201ff;
    --coquelicot: #f63e02ff;

    --fg: #fff;
    --bg: var(--coquelicot);
    --light-alpha: rgba(255, 255, 255, .3);
    --dark-alpha: rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    background: rgb(255, 175, 0);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://rare-gallery.com/uploads/posts/568759-appetizer-breakfast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    background-color: #ffb0279c;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
    height: 10em;
    backdrop-filter: blur(5px);
}

.back {
    display: block;
    text-align: center;
    width: 100%;
    background-color: rgba(168, 0, 0, 0.829);
    color: white;
    font-size: 14pt;
    font-weight: 900;
    letter-spacing: 1pt;
    padding: 1em;
    margin-bottom: 1em;
}

header h3 {
    display: inline;
    font-size: 22pt;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

header .header {
    position: relative;
    text-align: center;

    top: 0;
    right: 0;
    margin: auto;
    height: 100%;
    border-radius: 0 0 20px 20px;
}

header .back {
    background-color: rgba(0, 0, 0, .3);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header .back-1 {
    background-color: rgba(0, 0, 0, .3);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
}

main {
    flex: 1 0 auto;
}


.full-height {
    max-width: unset !important;
    height: 100vh;
}

.main-container {
    max-width: 90%;
    padding: 0 1em;

}



iframe {
    border-radius: 20px;
    width: 100%;
    height: 340px;
    max-width: 100%;
}

.input-field label {
    color: #fff;
    opacity: 1 !important;
}


.cta {
    margin: auto;
    display: block;
    width: 18em;
    max-width: 90%;
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px 1px;
    background-color: var(--coquelicot);
    color: #fff;
    padding: 1em;
    text-decoration: underline;

}

.mt1 {
    margin-top: 1em;
}

.p1 {
    padding: 1em;
}

.home-section {
    width: 700px;
    max-width: 90%;
    margin: auto;
}

.search-row {
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 3px;
}

.search-row .input-field input {
    color: #fff;
}

.cat-row {
    padding: 10px !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cat-row a {
    background-color: #bd0c0c;
    color: white;
    border-radius: 3px;
    padding: 10px 10px;
    font-weight: bold;
    margin: 3px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
}

.material-icons {
    vertical-align: middle;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bolder;
}

.videos {
    display: flex;
    border-radius: 5px;


    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
}

.videos .video {

    max-width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;

}

.video .cat {
    position: absolute;
    background-color: #bd0c0c;
    color: white;
    border-radius: 0 0 3px 0;
    padding: 3px;

    left: 0;
    top: 0;
}

.videos .video .cover {

    min-height: 230px;
    min-width: 250px;

    max-width: 100%;
    width: 300px;
    height: 230px;



}

.videos input {
    color: #fff;
}



.videos .video .title {
    margin: 0;
    flex: 1;
    display: flex;
    max-width: 100%;
    padding: 11px;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
    line-height: unset;
    font-size: 13pt;
}

.videos .video img {
    position: relative;
    transform: translateY(5px);
    bottom: 0;
    width: 100%;
    margin: 0;

}

.comments {
    max-width: unset !important;
    width: unset;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    padding: 10px;
    margin-top: 1em;
}

.comments h5 {
    margin: 0;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
    padding-bottom: 10px;
}

.comments .comment {
    flex: 1;
    border-radius: 3px;
    min-width: 250px;
    width: 400px;
    margin: 3px;
    padding: 1em;
    background-color: #0c0101bb;
}

.comments .comment .author {
    font-weight: bold;
    color: rgb(0, 133, 133);
}

.comments .comment .top {

    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.comments .comment .create_date {
    opacity: .8;
    color: #a2be00;

}

.comments .comment .content {
    margin-top: 3px;
    display: block;
    text-align: start;
    font-size: large;

}

.new-comment-container {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1em;
}

.new-comment-container textarea {
    color: #fff;
    padding: 3px;
    border: 0;

    max-width: 100%;
    resize: none;
    background-color: #0c0101bb;
    box-shadow: #ffffff6e 0px 0px 10px 1px;
    width: 400px;
    height: 100px;
}

.hoverable {
    transition: opacity .1s;
}

.hoverable:hover {
    opacity: .8;
}

.error {
    padding: 1em;
    background-color: rgba(206, 0, 0, 0.409);
}

.error::before {
    content: "Erro: ";
    font-weight: bolder;
}

.blur-5 {
    backdrop-filter: blur(5px);
}



@media only screen and (max-width:700px) {



    .videos .video .cover {
        min-height: unset;
        height: 200px;
    }

}

@media only screen and (max-width:800px) {

    .participant-images {



        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .participant-images img {
        flex: 1;
        width: 130px;
        margin: 3px;
    }

}

@media only screen and (max-width:600px) {

    .slider {
        width: 90%;
    }

}

@media only screen and (max-width:400px) {
    .participant-images img {
        flex: 1;
        width: 100px;
        margin: 3px;
    }

    .slider {
        width: 90%;
    }

}